*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;

	--primary: #0250BB;
	--fg-primary: black;
	--fg-secondary: grey;
	--bg-primary: white;
	--bg-secondary: #BFBFBF;

	--board-color: var(--bg-secondary);
	--border-color: white #7e7e7e #7e7e7e white;
	--red: #ff0000;

	color: var(--fg-primary);
	background-color: var(--bg-primary);
	user-select: none;
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	display: flex;
	justify-content: center;
	font-size: 1.6rem;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 2em;
}